:root{
    --switch-color: 3px dotted transparent;
    font-family: "Afacad Flux";
}

body{
    border: var(--switch-color);
    padding-left: 30px;
    padding-right: 30px;
}

h1{
    border: var(--switch-color);
    text-align: center;
}

h2{
    border: var(--switch-color);
    text-align: center;
    font-style: italic;
    color: #4C5454;
}

img{
    /*border: 3px dotted green;*/
    display: block;
    max-width:550px;
    max-height:305px;
    width: auto;
    height: auto;
    padding: 30px;
}

.intro_div{
    border: var(--switch-color);
    display: flex;
}

p{
    font-size: larger;
    border: var(--switch-color);
    text-align: justify;
    width:100%;
    height: auto;
    padding: 30px;
}